body{
	font-family: Verdana;
	font-size: 16px;
	color: black;

}

.center-div{
    padding-top: 3cm;
    text-align: center;
    font-family: Verdana;
}

#button {
    background-color: #5A5A5A;
    border: 2px solid #5A5A5A;
    color: white;

    padding: 30px 30px;
    text-align: center;
    font-size: 26px;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 20px 0px;
    width: 30%;
}

#button:hover {
    background-color: white;
    color: #5A5A5A;
}

#vastus {
	font-size: 26px;
    padding: 20px 20px;
}

.ilusnupp {
    background-color: #5A5A5A;
    border: 2px solid #5A5A5A;
    color: white;
    padding: 20px 20px;
    text-align: center;
    font-size: 22px;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 20px 0px;
    width: 30%;
    text-decoration: none;
}

.ilusnupp:hover {
    background-color: white;
    color: #5A5A5A;
}

.ilusnupp-pisi {
    background-color: #5A5A5A;
    border: 2px solid #5A5A5A;
    color: white;
    padding: 10px 10px;
    text-align: center;
    font-size: 15px;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 5px 0px;
    width: 12%;
    text-decoration: none;
    position: absolute;
    bottom: 10px
}

.ilusnupp-pisi:hover {
    background-color: white;
    color: #5A5A5A;
}