<head>
	<title>Restoranivalija</title>
	
	<meta charset="utf-8"> 
</head>

<body>
	<div class="center-div">
	<link rel="stylesheet" type="text/css" href="submitted_style.css">
	<h1>Sisestatud!</h1>

	<div id="vastus"></div>
	<br>

	<a href="index.html" class="ilusnupp">Tagasi avalehele</a>	

	</div>
	<script src="submitted_script.js">
	</script>
</body>