body{
	font-family: Verdana;
	font-size: 16px;
	color: black;

}

.center-div
{
   position: fixed;
   left: 40%;
   top:40%;
}

.ilusnupp {
	background-color: #5A5A5A;
    border: 2px solid #5A5A5A;
    color: white;
    text-align: center;
    font-size: 26px;
    border-radius: 4px;
}