<head>
	<title>Restoranivalija</title>
	
	<meta charset="utf-8"> 
</head>

<body>
	<div class="center-div">
	<link rel="stylesheet" type="text/css" href="hindaresto_style.css">
	<h1>Anna restoranile hinnang</h1>
	<form>
  	Restorani nimi:<br>
  	<input id="nimi" type="text" placeholder ="Siia tuleb drop-down list"><br><br>
  	Hinnang toidule:<br>
  	<input id="toit" type="text" placeholder="Hinnang kümnepallisüsteemis"><br><br>
  	Hinnang teenindusele:<br>
  	<input id="teenindus" type="text" placeholder="Hinnang kümnepallisüsteemis"><br><br>
  	Ooteaeg:<br>
  	<input id="ooteaeg" type="text" placeholder="Mitu minutit ootama pidid?"><br>

	<br>
	<a href="index.html" class="ilusnupp">Tagasi</a>
	<input id="button" value="Sisesta" type="submit">

	</div>
	<script src="hindaresto_script.js">
	</script>
</body>