body{
	font-family: Verdana;
	font-size: 16px;
	color: black;

}

.center-div
{
   position: fixed;
   left: 40%;
   top:40%;
}

#button {
    background-color: #5A5A5A;
    border: 2px solid #5A5A5A;
    color: white;
    padding: 30px 60px;
    text-align: center;
    font-size: 26px;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 20px 0px;
    width: 100%;
}

#button:hover {
    background-color: white;
    color: #5A5A5A;
}

#vastus {
	font-size: 26px;
}

.ilusnupp {
	background-color: #5A5A5A;
    border: 2px solid #5A5A5A;
    color: white;
    text-align: center;
    font-size: 26px;
    border-radius: 4px;
}

