<head>
	<title>Restoranivalija</title>
	
	<meta charset="utf-8"> 
</head>

<body>
	<div class="center-div">
	<link rel="stylesheet" type="text/css" href="uusresto_style.css">
	<h1>Lisa uus restoran</h1>
	<form>
  	Restorani nimi:<br>
  	<input id="nimi" type="text" placeholder ="Mis restorani nimi on?"><br><br>
  	Kaugus koolituskohast:<br>
	<input id="kaugus" type="text" placeholder="Mitu minutit sinna kõnnib?"><br><br>
	Köögi stiil:<br>
	<label class="container">Jaapani
  		<input type="checkbox">
 		 <span class="checkmark"></span>
	</label>

	<label class="container">Itaalia
 		 <input type="checkbox">
		  <span class="checkmark"></span>
	</label>

	<label class="container">Hiina
  		<input type="checkbox">
  		<span class="checkmark"></span>
	</label>

	<label class="container">Kartul ja soust
  		<input type="checkbox">
  		<span class="checkmark"></span>
	</label>

  	<br><br>
  	Hinnang toidule:<br>
  	<input id="toit" type="text" placeholder="Hinnang kümnepallisüsteemis"><br><br>
  	Hinnang teenindusele:<br>
  	<input id="teenindus" type="text" placeholder="Hinnang kümnepallisüsteemis"><br><br>
  	Ooteaeg:<br>
  	<input id="ooteaeg" type="text" placeholder="Mitu minutit ootama pidid?"><br>

	<br>
	<a href="index.html" class="ilusnupp">Tagasi</a>
	<input id="button" value="Sisesta" type="submit">

	</div>
	<script src="uusresto_script.js">
	</script>
</body>